
.arrows {
  position: absolute;
  margin-top: 1rem;
  gap: 1rem;
  font-size: 3rem;
  margin-left: 1rem;
}
.left-container{
  width: 13%;
}
.app-logo-icon{
  font-size: 3rem;
}
.left-sidbar-icon{
  font-size: 2rem;
}
.right-container {
  width: 87%;
}
.left-sidbar-add-icon{
  font-size: 2rem;
}
.left-sidbar-like-icon{
  font-size: 2rem;
}

.rigth-bar{
  height: 25rem;

}
.upgrade-button {
  position: absolute;
  margin-top: 1rem;
  right: 2rem;
  display: flex;
  gap: 3rem;
  align-items: center;
}
.user_profile{
  display:flex;
  margin-top: 1rem;
  
}
.About_song{
  position: relative;
  top: 8rem;
  left: 2rem;
}
.song-title{
  position: relative;
  top: 9rem;
  font-size: 2rem;
}
.album-img{
  border-radius: 2rem;
}
.table_head_songs{
  display: flex;
  justify-content: space-between;
}

.play-list{
  display: flex;
  gap: 3rem;
  padding: 1rem;
}
.play_button{
  font-size: 4rem;
}
.like_button{
  font-size: 3rem;
  margin-top: 5px;
}
.more_dots{
  margin-top: -2rem;
}
.songs-image{
  width: 60px ;
  height: 60px ;
}

.footer_container{
  font-size: 4rem;
  justify-content: center;
}
.footer-icon-size{
  font-size: 1.5rem;
  margin-top: 1.3rem;
}
.play-range{
  display: flex;
    justify-content: center;
    width: 50%;
    position: relative;
    left: 23%;

}
#customRange1{
    position: relative;
    width: 100%;
}

.play-list-text{
  font-size: larger;
    font-weight: 600;
}

.hr-line{
  background-color: #282828;
  border: none;
  height: 1px;
  margin: 8px 24px 0 24px;
  min-height: 1px;
}

.singer-name{
  position: relative;
  right: 4rem;
  top: 1rem;
}
/* .list-heading{
  position: sticky;
  bottom: 1rem;
  align-self:auto;
} */